body{
    background: url('https://source.unsplash.com/random') 
    center/cover no-repeat;
}

body p:nth-of-type(1){
    color:white; 
    font-size:40px;
    position:relative;
    left:1400px;
    top:200px; 
}

body p:nth-of-type(2){
    color:white;
    font-size:40px;
    position:relative;
    left:1400px;
    top:160px; 
}